<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itachi1706.busarrivalsg"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Get all the API data duh -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Check if there's internet access -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Allows write to SD root -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- Receives the intent when boot completes -->


    <!-- For getting your current location pre-GPS (so that you don't need GPS to run) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/static_shortcuts" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4a76e5bed29f3c6bc0d8e90c16212c07cb8efbc0" />

        <activity
            android:name=".ListAllBusStopsActivity"
            android:label="@string/title_activity_list_all_bus_stops" />
        <activity
            android:name=".AddBusStopsRecyclerActivity"
            android:label="@string/title_activity_add_bus_stops" />
        <activity
            android:name=".MainSettings"
            android:label="@string/title_activity_main_settings" />
        <activity
            android:name=".BusServicesAtStopRecyclerActivity"
            android:label="@string/title_activity_bus_services_at_stop" />

        <service
            android:name=".Services.PebbleCommunications"
            android:exported="false"
            tools:ignore="InnerclassSeparator" />

        <receiver
            android:name=".CompleteBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".BusLocationMapsActivity"
            android:label="@string/title_activity_bus_location_maps" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.appupdater.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/companion_app_provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity android:name=".FirebaseLoginActivity" android:label="Sign in" />
    </application>

</manifest>